<div class="d-flex h-100 justify-content-center align-items-center">
  <div class="card login-card">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="userName">User Name: </label>
          <input id="userName" type="text" formControlName="userName" />
          <span
            class="text-danger"
            *ngIf="(loginForm?.controls?.['userName']?.errors?.['required']) && (loginForm?.controls?.['userName']?.touched || submitClicked)"
          >
            Please enter username
          </span>
        </div>
        <div class="mb-3">
          <label for="password">Password: </label>
          <input id="password" type="password" formControlName="password" />
          <span
            class="text-danger"
            *ngIf="(loginForm?.controls?.['password']?.errors?.['required']) && (loginForm?.controls?.['password']?.touched || submitClicked)"
          >
            Please enter password
          </span>
        </div>
        <div class="login-btn">
          <button type="submit" class="btn btn-sm btn-block btn-primary">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
