@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$background-image: url('./assets/Images/main_BG.jpg');

html,
body {
  background-image: $background-image;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}